body {
    font-family: Microsoft YaHei,'宋体' ,'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a{cursor: pointer;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Microsoft YaHei,'宋体' ,'Source Sans Pro',sans-serif;
}
.content-header>h1 {
    margin: 0;
    font-size: 20px!important;
}
.content-search{}
/*.content-search .box{ margin-bottom: 0;}*/
.content-list {
    width:100%;
    overflow-x: auto;
}
.content-show{padding: 10px; overflow-x: auto;}
input.error {
    border:dotted 1px #F00 !important;
    color: #F00 !important;
}
label.error,div.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: red;
}
.validationMessage,.validationMessage1 {
    color: #F00;
    margin-left: 10px;
    width: auto;
    position:relative;
    display:block;
    margin-top: 5px;
    /*display: inline;*/
}
.validationElement,.validationElement1 {
    border:dotted 1px #F00 !important;
    color: #F00 !important;
}
.border-top{border-top:1px #DDDDDD solid;!important; }
.main-absolute-container{position: absolute;top:100%;left:auto;right:0;padding: 0px; margin: 0px;width:800px;display: none;}
.box-ul{padding: 0;margin: 0;}
.box-ul li{ list-style: none;border-bottom:1px #f4f4f4 solid; padding: 5px;}
.box-ul li:last-child{ border-bottom:none!important; }
.task-item-main{margin-left: 105px; }
.task-item-left{float: left;width: 100px;}
.scrollX{overflow-x: auto;}
.hide1{display: none;}
.treeSelecctContent{border:1px #DDDDDD solid;!important; background-color: #fff; padding: 10px; }
.btn-container{padding: 10px 0;}
.task-title{line-height: 25px;}
.table-layout{table-layout : fixed;}
.table-layout td,.table-layout th{white-space:nowrap;overflow:hidden;}
/*.table-layout a{overflow: hidden;display: block;}*/
.box.inner-box {
    border-right: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
}
.a{cursor: pointer; color: #3c8dbc;}

@media (min-width: 768px) {
    .search-form .row {
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        padding: 2px;
    }

    .form-horizontal .form-group{margin-left: 0;margin-right: 0;}
}
.dl-detail dt{/*font-weight: normal;*/color:#333333; }
.dl-detail dd, .dl-detail dt {
    line-height: 25px; padding-top: 7px;
}
@media (max-width: 768px)
{
    .dl-horizontal dt {
        float: left;
        width: 90px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 95px;
    }
}
.link{cursor: pointer;}
.list-button-container{ text-align: right; line-height: 20px;}
.content-display{/*border:1px solid #d2d6de;*/ padding: 5px;}
.project-status{ display: inline-block; margin-right: 10px; padding:2px 15px 2px 10px;vertical-align: top;
    border-radius: .25em; position: relative;}
.project-status-main{font-size: 14px;font-weight: 700; padding: 1px;margin:0;}
.project-status-info{font-size: 9px; padding: 1px;margin:0;}
.project-status-reject{position: absolute;top:-6px;right:-8px;color: #fff; padding:1px 5px;font-weight:700; background-color: #d9534f;
border-radius: 50%; z-index: 10;}
.form-group-title{
    /*width: 95%;*/
    border-top: 1px solid #ccc;
    padding:10px 0 15px 17%;
    margin: 15px auto 0 auto;
    font-weight: bolder;
}
.group-title{
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px dotted #ccc;
    padding:10px 0 5px 17%;
    margin: 15px auto 0 auto;
    font-weight: bolder;
}
.stick-up{z-index: 999999; background-color: #fff;}
.isStuck{right:3px;border-bottom:1px #DDDDDD solid;!important;}
.bootstrap-select .btn-default{background-color: #fff!important;}
.bootstrap-select > .disabled{background-color: #eee!important;}
/*.table>tbody>tr>td { vertical-align: bottom!important;}*/
.section-title{
    border-top: 1px solid #eee;
    padding-top: 15px;
    padding-left: 20px;
}
.popover-content
{
    position: absolute;
    z-index: 99999;
    width: 500px;
    background-color: #ffffff;
    top:25px;
    padding: 10px 20px 5px 0;
    border: 1px solid #ccc;
    display: none;
}
.navigation{
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
.navigation ul{margin: 0;}
.summary{    padding-top: 8px;
    white-space: nowrap;}
.top-task-container{ min-width:600px!important;}
.top-task-container .menu{max-height:300px!important;}
.check-extras dt{width:60% !important;}
.check-extras dd{margin-left:62% !important;}
@media (max-width: 767px)
{
    .main-sidebar { padding-top: 50px!important;}
    .main-header .logo{display: none!important;}
}
.skin-red-light .sidebar-menu>li>a{font-weight:normal!important;}


@media (min-width: 1600px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-pull-11 {
    right: 91.66666667%;
  }
  .col-xl-pull-10 {
    right: 83.33333333%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-8 {
    right: 66.66666667%;
  }
  .col-xl-pull-7 {
    right: 58.33333333%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-5 {
    right: 41.66666667%;
  }
  .col-xl-pull-4 {
    right: 33.33333333%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-2 {
    right: 16.66666667%;
  }
  .col-xl-pull-1 {
    right: 8.33333333%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-push-11 {
    left: 91.66666667%;
  }
  .col-xl-push-10 {
    left: 83.33333333%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-8 {
    left: 66.66666667%;
  }
  .col-xl-push-7 {
    left: 58.33333333%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-5 {
    left: 41.66666667%;
  }
  .col-xl-push-4 {
    left: 33.33333333%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-2 {
    left: 16.66666667%;
  }
  .col-xl-push-1 {
    left: 8.33333333%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
}
.page-not-support {
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 100000000;
  font-size: 20px;
  text-align: center;
}
.page-not-support-wrapper{
  position: relative;
  top: 50%;
  margin-top: -80px;
 }
.page-not-support-wrapper img{
  margin: 10px;
}


