@charset "UTF-8";
.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: calc(1035 + 1);
}

.bootstrap-select.btn-group .dropdown-menu.open {
  margin-top: 9px;
  margin-bottom: 9px;
  box-shadow: 0 2px 12px 0px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #dcdcdc;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::after {
  bottom: -12px !important;
  left: 31px !important;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle::before {
  bottom: -11px !important;
  left: 30px !important;
  border-bottom-color: #ebeef5;
}

.bootstrap-select .dropdown-menu > .selected > a {
  background-color: #fafafa;
  color: #ff6200 !important;
}

.bootstrap-select > .btn {
  line-height: 18px !important;
  height: 32px !important;
  background-color: #fff;
}

.datetimepicker.dropdown-menu {
  box-shadow: 0 2px 12px 0px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #dcdcdc;
}

.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active {
  background: #ff6200;
}

.datetimepicker table tr td span {
  white-space: nowrap;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  top: -11px;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  top: -11px;
}

.input-group .form-control {
  border-radius: 0 !important;
}
.input-group .input-group-addon {
  border-color: #dcdcdc;
  background-color: inherit;
}
.input-group .input-group-addon:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.input-group .input-group-addon:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.modal-header--flex {
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 13px;
}
.modal-header--flex .close {
  opacity: 1;
  font-size: 32px;
  font-weight: 300;
  color: #666666;
}
.modal-header--flex .close:hover {
  color: #ff6200;
}

.modal-title {
  line-height: 32px;
}

.modal-content {
  border-radius: 3px;
}
.modal-content .modal-body {
  padding: 0 24px;
}

.modal-footer {
  text-align: center;
  border: none;
  padding: 24px;
}
.modal-footer .o-btn + .o-btn {
  margin-left: 10px;
}

.el-message-box {
  padding: 0;
}
.el-message-box .el-message-box__header {
  padding: 24px 24px 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.el-message-box .el-message-box__header .el-message-box__headerbtn {
  position: static;
  line-height: 1 !important;
}
.el-message-box .el-message-box__header .el-message-box__headerbtn .el-message-box__close {
  color: #666666;
}
.el-message-box .el-message-box__header .el-message-box__headerbtn .el-message-box__close:hover {
  color: #ff6200;
}
.el-message-box .el-message-box__content {
  padding: 0 24px 0;
}
.el-message-box .el-message-box__content .el-message-box__message {
  padding-right: 0;
  text-align: left;
}
.el-message-box .el-message-box__content .el-message-box__message p {
  text-align: left;
  display: inline-block;
}
.el-message-box .el-message-box__close {
  font-size: 24px;
  color: #000;
}
.el-message-box .el-message-box__close:hover {
  color: #ff6200;
}
.el-message-box .el-message-box__btns {
  text-align: center;
  padding: 50px 24px 24px;
}
.el-message-box .el-message-box__btns button {
  font-size: 14px;
  height: 32px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  background-color: #f7f7f7 !important;
  opacity: 1 !important;
}

input[type=checkbox], input[type=radio] {
  margin: 0;
}

label {
  margin-bottom: 0px;
}

table.in-table tbody > tr {
  border-bottom: none;
}

.el-alert__content,
.el-message .el-message__content {
  color: #666666;
}

.el-alert--info {
  background-color: #E5F7FE;
}

.el-message--info {
  background-color: #E5F7FE;
  border-color: #CCF0FE;
}

.el-icon-success,
.el-icon-info,
.el-icon-warning,
.el-icon-error {
  font-family: "icon" !important;
}

.el-message-box__status {
  font-family: "icon" !important;
  font-size: 27px !important;
  font-style: normal;
  color: #999;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}

.el-icon-success {
  color: #4DCE6F !important;
}
.el-icon-success::before {
  content: "";
}

.el-icon-info {
  color: #3E8CF7 !important;
}
.el-icon-info::before {
  content: "";
}

.el-icon-warning {
  color: #FFC147 !important;
}
.el-icon-warning::before {
  content: "";
}

.el-icon-error {
  color: #FA4D4E !important;
}
.el-icon-error::before {
  content: "";
}

.el-message-box__status + .el-message-box__message {
  padding-left: 32px;
}

/*# sourceMappingURL=overide.css.map */
