/* 内容头部样式 */
section.content .content-header {
    background: transparent;
    background-color: rgba(255, 255, 255, 1);
    height: 50px;
}
.content-wrapper > .content-header {
   display: none!important;
}
.content-header__des{
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #999999;
    text-align: left;
    margin-left:20px;
}

/*.content-header__des:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 32px;
    width: 5px;
    height: 24px;
    background-color: rgba(26, 188, 156, 1);
}  */
/* 内容头部样式 */

/* 内容样式 */

.main-container{
    background-color: rgba(246, 247, 249, 1);
    border-top:1px solid #dddddd;
}


.sub-container{
    /*padding-top:5px;*/
}
.sub-container .sub-container__box{
    border-radius:3px;
    border-top:0px solid #d2d6de;
}
.box-content-title .box-title{
    margin-left: 16px;
    color: #666666;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size:16px;
}
.box-header.with-border {
    border-bottom: 1px solid rgb(243, 238, 238);
}
.box-content-title:before {
    content: "";
    position: absolute;
    top: 11.7px;
    left: 25px;
    width: 5px;
    height: 16px;
    background-color: #24a7ff;
    background-color:#24a7ff;
}

/* 去掉* */
.fa-asterisk:before{
    content:"";
}
/* 去掉* */

/* 表单样式 */
.box-body-custom{
    padding-top:30px;
    margin-left: 25px;
}

.form-group-custom .control-label-custom{
    font-family:'微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #434343;
    padding-right: 0px;
}
.form-group-custom .control-label-custom-right{
    margin-left:50px;
}
.form-group-custom .col-sm-4{
    padding-right:0px;
    padding-left:0px;
    width:26%;
}
.form-group-custom .col-sm-2{
    padding-right:0px;
    padding-left:0px;
    width:10.66666667%
}
.form-group-custom .control-label-custom .label-custom__span-red{
    color: #F04844;;
}

/* select */

.form-group-custom .form-control-custom {
    /* color: #CCCCCC; */
    height: 38px;
    border-radius: 5px;
}

.form-group-custom .form-control-custom option:not(:first-child){
    color: #434343
}

.form-control-custom:hover{
    border-color: rgba(0, 153, 255, 1);
}

.form-group-custom .dropdown-toggle:hover{
    border-color: rgba(0, 153, 255, 1);
}

/* select */
/* 表单样式 */

/* 内容样式 */

/* 表格样式 */ 
.table-hover-custom {
    margin-top:10px;
    width:98%;
    margin-left: 10px;
    margin-bottom:0px;
}
.table-hover-custom th{
    background-color:#ffebcc;
    text-align: center; 
    border: 2px solid #fff; 
}
.table-hover-custom td{
    padding-right: 0px !important;
    padding-left: 2px !important;
}
.table-hover-custom td .input-sm:hover {
    border: 1px solid rgba(0, 153, 255, 1);
}
.table-hover-custom td .bootstrap-select.input-sm:hover {
    border: none;
}
.table-hover-custom td .selectpicker:hover {
    border: 1px solid rgba(0, 153, 255, 1);
}
.table-hover-custom .btn {
    padding: 4px 12px !important;
}

.form-group-custom-height .col-sm-10{
    padding-left:0px;
    width:84.93333333%;
}
.form-group-custom-height .control-label-custom{
    width:15%;
}
.form-group-custom-height{
    margin-bottom: 10px;
    height: 90px;
    margin-left: 15px;
}

.delete-btn-custom{
    background-color: #fff;
    border:1px solid #ccc;
    width: 100%;
    height: 30px;
    color:#868686;
}

.add-btn-container {
    color: #0099FF;
    border: 1px dotted #ccc;
    width:97.6%;
    margin-left: 12px;
    height: 40px;
    text-align: center;
    line-height: 34px;
    margin-bottom: 10px;
}
.add-btn-container .add-btn-custom{
    background-color: #fff;
}


/* 表格样式 */

/* 附件上传 */
.glyphicon-remove:before{
    content: "";
}
.form-group-custom-upload{
    margin-bottom: 0px;
}
.form-group-custom-upload .upload-title{
    font-family:'微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #434343;
    padding-right: 0px;
}

.upload-title-custom{
    line-height: 30px;
}
.form-group-custom-upload .col-sm-10{
    padding-left: 0px;
}
.form-group-custom-upload .col-sm-2{
    width: 12.66666667%;
}
.form-group-custom-upload .btn-upload-custom{
    border:1px solid #e4e4e4;
    color:#999999;
}

.form-group-custom-upload .btn-text-desc{
    font-size: 12px;
    color:#999;
}   

/* .box-body-custom{
    padding: 0px;
} */

.form-group-custom-upload .glyphicon-ok:before {
    content: "";
}

.list-unstyled-custom .text-name-custom {
    color:#0099FF !important;
    border-bottom: 1px solid #0099FF !important;
}

.list-unstyled-custom .file-btn-custom{
    color:#0066FF;
    border: 1px solid #0066ff;
    height: 29px;
    line-height: 25px;
    margin-left:20px;
}
.reupload-file-btn-custom{
    color:#0066FF;
    border: 1px solid #0066ff;
    height: 29px;
    padding: 0 12px;
    line-height: 25px;
    margin-left:20px;
}

.list-unstyled-custom .file-btn-custom:hover{
    background-color: rgba(242, 242, 242, 1);
}
.list-unstyled-custom .del-btn-custom{
    width:70px;
}
.list-unstyled-custom .download-btn-custom{
    width:70px;
}
.list-unstyled-custom .continue-btn-custom{
    width:102px; 
}
.list-unstyled-custom img{
    padding-bottom: 3px;
}
.list-unstyled-custom .list-unstyled__upload-list{
    padding-top: 3px;
    padding-bottom: 10px;
}
.box-body-custom-last{
    padding:0px;
    padding-left:10px;
}
.form-group-custom-btn{
    text-align: center;
}

.btn-contain-custom{
    padding-top: 15px;
}

.btn-contain-custom .btn-contain__submit{
    background-color: rgba(0, 153, 255, 1);
    color:#fff;
    width: 80px;
    height: 35px;
    margin-right: 8px;
}
.btn-contain-custom .btn-contain__default{
    background-color:#fff;
    color:#999999;
    border:1px solid #cccccc;
    width: 80px;
    height: 35px;
    margin-right: 8px;
}

.form-group-custom-btn{
    text-align: center;
}

.btn-contain-custom .btn-contain__default:hover{
    border-color: rgba(0, 153, 255, 1);
}
.btn-contain-custom .btn-contain__submit{
    background-color: rgba(0, 153, 255, 0.8);
}

.img-upload{
    width:27px;
    height:27px;
}

.content {
    min-height: 250px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#main-container {
    padding: 0;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.form-control-custom  .selectpicker {
    /* color: #CCCCCC; */
    height: 38px;
    border-radius: 5px;
}

/* 附件上传 */

.color-CCC{
    color:#ccc !important;
}
.label-custom__span-red {
    padding-right: 3px;
}

.sub-container__fixed{
    position: fixed;
    bottom: -10px;
    left: 230px;
    border-top: 1px solid #eee !important;
    width: 84.3%;
    z-index: 1000;
}
.sub-container__fixed .box-body {
    padding: 5px 10px;
}

.required__span-red {
    color: #F04844;
}
.upload-star-box {
    width: 10px;
    display: inline-block;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.bootstrap-select.btn-group div.dropdown-menu {
    overflow: auto;
    /*max-height: 250px;*/
}
#detail-back-title {
    background: #fff;
    padding: 5px;
    color: red;
    padding-left: 20px;
    margin-top: 4px
}
.red-star {
    color: #F04844;
}
.add-btn-custom {
    color: #0099FF !important;
}

.upload-gap > * + * {
    margin-top: 4px;
}